Debug/
Release/
TestResults/
ipch/
obj/
packages/
Debug.win32/
Release.win32/
*.suo
*.user
*.ilk
*.idb
*.cachefile
*.aps
*.obj
*.ncb
*.sdf
*.opensdf
*.log
*.pyc
Thumbs.db
.DS_Store
*.o
boost*/stage/lib/