[submodule "pbc"]
	path = pbc
	url = https://github.com/miaodadao/pbc.git
	branch = master
[submodule "cocos2dx-common"]
	path = cocos2dx-common
	url = https://github.com/miaodadao/cocos2dx-common.git
	branch = master